@font-face {
    font-family: 'MuseoSans';
    src: url('museosans_500.eot');
    src: url('museosans_500.eot?#iefix') format('embedded-opentype'),
    url('museosans_500.woff') format('woff'),
    url('museosans_500.ttf') format('truetype'),
    url('museosans_500.svg#museosans_500') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans';
    src: url('museosans_900.eot');
    src: url('museosans_900.eot?#iefix') format('embedded-opentype'),
    url('museosans_900.woff') format('woff'),
    url('museosans_900.ttf') format('truetype'),
    url('museosans_900.svg#museosans_900') format('svg');
    font-weight: bold;
    font-style: normal;
}

