@import url("/static/fonts/fonts.css");

a {
    text-decoration: none;
}
body {
background: url("/media/billie_holiday.png") repeat #FFF;
font-family: 'MuseoSans', Verdana, sans-serif;
font-size: 16px;
    }
footer {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}
h2 {
    color: #727276;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}
header {
    margin: 0 auto;
    max-width: 940px;
    padding: 10px;
    position: relative;
    vertical-align: baseline;
}
input[type="text"] {
    height: 30px;
    margin-bottom: 10px;
    width: 300px;
}
input[type="submit"] {
    background-color: #222222;
    border: 0;
    color: #eeeeee;
    padding: 8px;
    float: right;
}
nav {
    float: right;
}
nav a {
    color: #009CDD;
}
nav a:hover {
    text-decoration: underline;
}
nav li {
border-left: 1px solid #ccc;
display: inline;
padding-left: 5px;
    }
nav ul {
margin-top: 120px;
    }
nav ul,
#menuaux ul,
#social ul {
list-style: none;
    }
p {
    font-size: 1em;
}
textarea{
    margin-bottom: 10px;
    width: 300px;
}
/************************************** IDS *****************************************/
#actions {
    margin: 0 auto;
    max-width: 940px;
    min-height: 100px;
}
#actionshome {
    display: inline-block;
    margin: 0 10px;
    min-height: 150px;
    vertical-align: top;
    width: 50%;
}
#callsto1,
#callsto2 {
    margin-right: 20px;
}
#callsto1 {
    background-color: rgba(152, 190, 19, 0.8);
}
#callsto1 p.cuadro {
    background-color: #4CA92C;
}
#callsto2 {
    background-color: rgba(0, 158, 209, 0.8);
}
#callsto2 p.cuadro {
    background-color: #2C72B5;
}
#callsto3 {
    background-color: rgba(218, 0, 128, 0.8);
}
#callsto3 p.cuadro {
    background-color: #BB0B24;
}
#callsto1home {
    background-color: rgba(152, 190, 19, 0.8);
}
#callsto1home a {
    background-color: #4CA92C;
}
#callsto2home {
    background-color: rgba(0, 158, 209, 0.8);
}
#callsto2home a {
    background-color: #2C72B5;
}
#callsto3home {
    background-color: rgba(218, 0, 128, 0.8);
}
#callsto3home a {
    background-color: #BB0B24;
}
#contactform {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    max-width: 53%;
    padding: 20px;
    vertical-align: top;
}
#contactform h2 {
    margin-top: 0;
}
#contactform ul {
    list-style-type: none;
    margin-bottom: 2px;
    padding-left: 155px;
    text-align: left;
}
#contactform ul li {
    color: #9c0000;
    font-size: 10px;
}
#carousel img {
    display: block;
    opacity: .5;
    cursor: pointer;
}
#carousel img:hover {
    opacity: 1;
}
#carousel .flex-active-slide img {
    opacity: 1;
    cursor: default;
}
#contact_cliente {
    background-color: #2C72B5;
    border-radius: 0 0 11px 11px;
    -webkit-border-radius: 0 0 10px 10px;
    color: #EEEEEE;

    text-align: center;
    width: 100%;
}
#contact_cliente a {
    color: #EEEEEE;
    display: block;
    padding: 8px 0;
}
#contact_cliente h3 {
    margin: 0;
}
#copyright {
    border-top: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    max-width: 960px;
    width: 100%;
}
#copyright p {
    display: inline-block;
    text-align: left;
    width: 49.8%;
}
#copyright p:last-child {
    text-align: right;
}
#detallelc {
    display: block;
    float: left;
    margin: 0 20px 0 10px;
    max-width: 420px;
    width: 100%;
}
#detallerc {
    display: block;
    float: left;
    max-width: 500px;
    width: 100%;
}
#error404 {
    margin: 100px auto;
    width: 600px;
}
#error404 a{
    color: #333333;
}
#filters {
    margin: 0 auto;
    max-width: 940px;
    width: 100%;
}
#imgcontacto {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}
#imgcontacto img {
    width: 100%;
}
#imgvalor {
    height: 250px;
    width: 100%;
}
#inferior {
    background-color: #006633;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#99be13), to(#006633));
    background-image: -webkit-linear-gradient(top, #99be13, #006633);
    background-image:    -moz-linear-gradient(top, #99be13, #006633);
    background-image:      -o-linear-gradient(top, #99be13, #006633);
    background-image:         linear-gradient(to bottom, #99be13, #006633);
    height: 100%;
    min-height: 150px;
    margin-top: -40px;
    padding-top: 30px;
    width: 100%;
}
#info {
    max-width: 500px;
    width: 100%;
}
#inmuebles {
    margin: 0 auto;
    max-width: 940px;
    width: 100%;
}
#leftc,
#rigthc {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: top;
    width: 49.7%;
}
#leftc {
    background-color: rgba(0, 158, 209, 0.8);
    color: #fff;
    padding: 0 10px 10px 10px;
}
#leftc img {
    display: block;
    margin: 0 auto;
    width: 50%;
}
#leftc #img_empresa {
    width: 100%;
}
#logo {
    display: block;
}
#logo a{
    background: url("/media/logo.png") no-repeat;
    background-size: 100% 100%;
    float: left;
    height: 161px;
    width: 276px;
}
#logo h1 {
    display: none;
}
#mapa {
    text-align: center;
}
#mapa h3 {
    margin: 0;
}
#menuaux, #social {
    display: inline-block;
    vertical-align: top;
    width: 49.7%;
}
#menuaux a {
    color: #fff;
    font-size: 16px;
}
#nosotros {
    margin: 0 auto;
    max-width: 940px;
    width: 100%;
}
#principal {
    -webkit-background-clip: padding-box; background-clip: padding-box;
    background-color: rgba(255,255,255,0.8);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    box-shadow: 0 0 4px 0 #000;
    -webkit-box-shadow: 0 0 4px 0 #000;
    max-width: 960px;
    margin: -30px auto 0 auto;
    min-height: 500px;
    padding-top: 10px;
    position: relative;
    width: 100%;
    z-index: 2;
}
#rcontent {
    display: none;
}
#ribbon {
    background: url("/media/ribbon_30_anos-01.png") no-repeat 0 0;
    left: -90px;
    position: absolute;
    height: 130px;
    top: 0;
    width: 100px;
}
#rigthc img {
    margin: 12%;
}
#sliderindex {
    display: inline-block;
    vertical-align: top;

}

#social {
    text-align: right;
}
#social a {
    display: block;
    height: 48px;
    width: 48px;
}
#social p {
    color: #fff;
}
#social li {
    display: inline-block;
}
#social ul, #social p {
    padding-right: 30px;
}
#step1 {
    background: url("/media/torgale_imgs.png") no-repeat 0 0 #4CA92C;
}
#step2 {
    background: url("/media/torgale_imgs.png") no-repeat -140px 0 #2C72B5;
}
#step3 {
    background: url("/media/torgale_imgs.png") no-repeat -280px 0 #2C72B5;
}
#step4 {
    background: url("/media/torgale_imgs.png") no-repeat -420px 0 #2C72B5;
}
#step5 {
    background: url("/media/torgale_imgs.png") no-repeat -560px 0 #2C72B5;
}
#steps {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
    max-width: 940px;
}

#superior {
    background-color: #fff;
    position: relative;
    width: 100%;
    z-index: 99;
}
#ubicacion {
    display: block;
    max-width: 420px;
    margin-top: 25px;
    width: 100%;
}
#ubicacion a {
    display: none;
}
#volver {
    font-weight: bold;
    text-align: right;
    width: 100%;
}
#volver a{
    color: #009CDD;
}
#volver a:hover {
    text-decoration: underline;
}





/*************************************** CLASS ****************************************/
.addfilter a, .removefilter a {
    color: #009CDD;
}
.admin {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0.5em;
}
.callsto {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
    float: left;
    font-weight: bold;
    max-width: 300px;
    text-align: center;
    width: 100%;
}
.callsto p {
    display: block;
}
.callsto p.cuadro {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box; background-clip: padding-box;
    color: #fff;
    display: inline;
    font-weight: bold;
    height: 50px;
    padding: 15px 25px;
    text-decoration: none;
    width: 140px;
}
.callstohome {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
    float: left;
    font-weight: bold;
    height: auto;
    margin-bottom: 70px;
    padding: 16px;
    position: relative;
    text-align: right;
    width: 100%;
}
.callstohome p, .callstohome span {
    display: block;
    margin: 0;
    width: 50%;
}

.callstohome p.cuadro {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box; background-clip: padding-box;
    color: #fff;
    font-weight: bold;
    height: 50px;
    padding: 15px 25px;
    text-decoration: none;
    width: 140px;
}
.callstohome span {
    font-size: 1.5em;
}
.clear, .clearfix{
    clear: both;
}
.detalle {
    border-bottom: 1px dashed #555555;
    text-align: left;
    width: 100%;
}
.detalle span {
    display: inline-block;
    font-weight: bold;
    width: 30%;
}
.facebook {
    background: url("/media/torgale_imgs.png") no-repeat 0 -104px transparent;
}
.fieldwrapper {
    text-align: right;
}
.flex-control-nav {
    bottom: -10px !important;
}
.flex-direction-nav .flex-next {
    right: 5px !important;
}
.flex-direction-nav .flex-prev {
    left: 5px !important;
}
.flexslider {
    margin: 0 0 -5px!important;
}
.img_index {
    background: url("/media/imgv_index.jpg") no-repeat center top;
}
.img_empresa {
    background: url("/media/imgv_empresa.jpg") no-repeat center top;
}
.img_servicios {
    background: url("/media/imgv_servicios.jpg") no-repeat center top;
}
.img_inmuebles {
    background: url("/media/imgv_ofertainmobiliaria.jpg") no-repeat center top;
}
.img_detalles {
    background: url("/media/imgv_detalleinmueble.jpg") no-repeat center top;
}
.img_contacto {
    background: url("/media/imgv_contacto.jpg") no-repeat center top;
}
.inmueble {
    border: 1px solid #32cd32;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-background-clip: padding-box; background-clip: padding-box;
    display: block;
    float: left;
    height: 110px;
    margin-bottom: 1em;
    width: 460px;
}
.inmueble a {
    color: #333333;
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
}
.inmueble a:hover .overlay {
    height: 100%;
    left: 0;
    opacity: 0.9;
    top: 0;
    width: 100%;
}
.inmueble a:hover .overlay .msg {
    font-size: 1.5em;
}
.inmueble a .overlay {
    background: #32cd32;
    border: 1px solid #32cd32;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-background-clip: padding-box; background-clip: padding-box;
    height: 0;
    left: 50%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    width: 0;
}
.inmueble a .overlay .msg {
    color: #eeeeee;
    font-size: 0.1em;
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: 40%;
    transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    width: 100%;
}
.inmueble .imgportada {
    display: block;
    float: left;
    height: 100px;
    overflow: hidden;
    width: 130px;
}
.inmueble .infoinmueble {
    font-size: 14px;
    display: block;
    float: left;
    margin: 10px 0;
    width: 320px;
}
.inmueble .infoinmueble p {
    margin: 0;
}
.inmueble .infoinmueble .enlinea {
    display: inline-block;
}
.inmueble img {
    height: 100px;
    margin: 10px;
    width: 110px;
}
.mright20:nth-child(2n+1) {
    margin-right: 16px;
}
.nav-tabs > li > a {
    color: #009CDD;
}
.plus {
    background: url("/media/torgale_imgs.png") no-repeat -48px -104px transparent;
}
.servicios {
    border : 1px solid rgba(0, 158, 209, 0.8);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333333;
    display: inline-block;
    margin: 0 1% 1% 1%;
    padding: 1em;
    text-align: justify;
    vertical-align: top;
    width: 98%;

}
.servicios img {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    display: inline-block;
    vertical-align: top;
    width: 39%;
    /*display: none;*/
}
.servicios p {
    margin: 0;
    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens:auto;
    -webkit-hyphens:auto;
    word-wrap: break-word;
}
.servicios .contenido {
    display: inline-block;
    margin-right: 1%;
    vertical-align: top;
    width: 59%;
}
.skype {
    background: url("/media/torgale_imgs.png") no-repeat -96px -104px transparent;
}
.slider {
    display: block;
    max-width: 420px;
    width: 100%;
}
.sliderhome {
    display: inline-block !important;
    vertical-align: top;
    width: 45%;
}
.step {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-background-clip: padding-box; background-clip: padding-box;
    display: block;
    height: 100px;
    margin: 0 15px;
    position: relative;
    width: 140px;
}
.step span {
    position: absolute;
    bottom: 0;
}
.step .number {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box; background-clip: padding-box;
    background: #FFEE00;
    color: #633E00;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    left: -15px;
    position: absolute;
    text-align: center;
    top: -15px;
    width: 30px;
}
.stepscontend {
    display: inline-block;
    margin: 0;
    position: absolute;
    text-align: center;
    vertical-align: top;
    right: 10px;
    top: 30px;
}
.stepscontend span {
    color: #fff;
    font-weight: bold;
    width: 170px;
}
.twitter {
    background: url("/media/torgale_imgs.png") no-repeat -144px -104px transparent;
}

/*****************************************  MEDIA QUERIES *******************************/
@media (max-width:1024px){
    #ribbon {
        left: 90%;
    }
}

@media (max-width: 979px){
    nav ul {
        margin-top: 0;
    }
    .navbar {
        margin-top: 120px !important;
    }
}

@media (max-width: 959px) {
    footer {
        max-width: 760px;
    }
    header{
        max-width: 780px;
    }
    nav ul {
        margin-top: 0;
    }
    #actions,
    #nosotros{
        max-width: 730px;
    }
    #callsto1home {

        height: auto;
    }
    #copyright {
        max-width: 750px;
    }
    #copyright p {
        width: 49.7%;
    }
    #detallelc,
    #detallerc {
        max-width: 355px;
    }
    #filters,
    #inmuebles {
        max-width: 730px;
    }
    #principal {
    max-width: 750px;
}
    #ribbon {
    left: 87%;
    }
    #rigthc img {
    margin-left: 5%;
    margin-right: 0;
    }
    .callsto {
    margin-bottom: 20px;
    max-width: 230px;
    min-height: 50px;
    }
    .callsto p {
    min-height: 42px;
    }
    .inmueble {
        width: 355px;
    }
    .inmueble .infoinmueble {
        width: 225px;
    }
    .navbar {
    margin-top: 120px !important;
    }
}

@media (max-width:767px){

    footer {
        max-width: 710px;
    }
    input[type="text"] {
        width: 70% !important;
    }
    textarea{
        width: 70% !important;
    }
    #actions,
    #nosotros{
        max-width: 640px;
    }
    #actionshome {
        margin: 0 2%;
        width: 96%;
    }
    #contactform {
        max-width: 90% !important;
        width: 100% !important;
    }
    #detallelc, #detallerc {
        max-width: 310px;
    }
    #filters,
    #inmuebles {
        margin: 0 1%;
        max-width: 98%;
    }
    #imgcontacto {
        display: none;
    }
    #leftc, #rigthc {
        margin: 0 2%;
        width: 96%;
    }
    #menuaux, #social {
        width: 49.6%;
    }
    #principal {
    max-width: 660px;
    }
    #ribbon {
        left: 84%;
    }
    #rigthc {
        text-align: center;
    }
    #rigthc img {
        margin: 10px 0;
    }
    .callsto {
        max-width: 31%;
    }
    .inmueble {
        margin: 2%;
        width: 96%;
    }
    .inmueble img {
        height: auto;
        margin: 10px 5px;
        width: 100px;
    }
    .inmueble .infoinmueble {
        width: 55%;
    }
    .inmueble .imgportada {
        width: 110px;
    }
    .mright20:nth-child(2n+1){
        margin-right: 0;
    }
    .servicios {
        width: 96%;
    }
    .servicios img {
        width: 100%;
    }
    .servicios .contenido {
        width: 100%;
    }
    .sliderhome {
        margin: 10px 2%;
        width: 96%;
    }
}

@media (max-width:710px){
    input[type="text"] {
        width: 100% !important;
    }
    textarea{
        width: 100% !important;
    }
    .fieldwrapper {
        text-align: left !important;
    }
    .fieldwrapper label {
        display: block;
    }
}

@media (max-width:627px){
    .callsto {
        margin: 2%;
        max-width: 96%;
    }
}

@media (max-width:610px){
    #menuaux, #social{
        margin: 0 2px;
        width: 96%;
    }
    #social {
        text-align: center;
    }
}

@media (max-width:568px){
    #copyright p {
        margin: 0 2%;
        text-align: center;
        width: 96%;
    }
    #copyright p:last-child{
        text-align: center;
    }
}
@media (max-width:542px){
    nav {
        width: 100%;
    }
    nav li {
        display: block;
    }
}

@media (max-width:480px){
    input[type="text"] {
        width: 100% !important;
    }
    textarea{
        width: 100% !important;
    }

    #actions {
        max-width: 410px;
    }
    #actionshome {
        margin: 0 2%;
        width: 96%;
    }
    #actionshome h2 {
        margin: 0 0 10px 0;
    }
    #callsto1, #callsto2 {
        margin-right: 0;
    }
    #copyright p {
        margin: 0;
        text-align: center;
        width: 100%;
    }
    #copyright p:last-child {
        text-align: center;
    }
    #detallelc, #detallerc {
        max-width: 100%;
        width: 95%;
    }
    #detallelc {
        margin: 0 10px;
    }
    #imgvalor {
        background-size: 200%;
        height: 90px;
        margin-top: 0;
    }
    #leftc, #rigthc {
        margin: 0 2%;
        width: 96%;
    }
    #logo a {
        background: #fff;
        color: #afca0b;
        height: 80px;
        padding-left: 20%;
        width: 80%;
    }
    #logo h1 {
        display: block;
    }
    #menuaux, #social {
        width: 100%;
    }
    #menuaux ul {
        padding-left: 5px;
    }
    #menuaux li {
    }
    #principal {
        margin-top: -10px;
    }
    #ribbon {
        background-size: 100%;
        height: 85px;
        width: 70px;
        left: 0;
    }
    #rigthc img {
        margin: 0;
        width: 100%;
    }
    #social {
        text-align: center;
    }
    #social ul, #social p{
        padding: 0;
    }
    .callsto {
        margin-bottom: 30px;
        min-height: 50px;
        width: 100%;
    }
    .callsto p{
        min-height: 20px;
    }
    .callstohome {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        height: 80px;
        margin-bottom: 60px;
        width: 100%;
    }
    .callstohome p, .callstohome span {
        text-align: center;
        width: 60%;
    }
    .callstohome span {
        font-size: 1.4em;
    }
    .detalle span {
        width: 43%;
    }
    .fieldwrapper {
        text-align: left !important;
    }
    .fieldwrapper label {
        display: block;
    }
    .inmueble {
        margin: 2%;
        width: 96%;
    }
    .navbar {
        margin-top: 60px !important;
    }
    .stepscontend {
        margin: 0;
        right: 0;
        top: 20px;
    }
}

@media (max-width:413px) {
    #principal {
        min-height: 400px;
    }

    .callstohome {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        height: 80px;
        margin-bottom: 20px;
        width: 100%;
    }
    .callstohome p, .callstohome span {
        text-align: center;
        width: 100%;
    }
    .callstohome span {
        font-size: 1.4em;
    }
    .callstohome .stepscontend {
        display: none;
    }
    .inmueble {
        margin: 2% !important;
        height: 200px;
        width: 96%;
    }
    .inmueble .imgportada {
        text-align: center;
        width: 100%;
    }
    .inmueble .infoinmueble {
        width: 100%;
    }
}

@media (max-width: 320px){
    input[type="text"] {
        width: 100% !important;
    }
    textarea{
        width: 100% !important;
    }
    #actionshome {
        margin: 0 2%;
        width: 96%;
    }
    #actionshome h2 {
        margin: 0 0 10px 0;
    }
    #copyright p {
        text-align: center;
        margin: 5px 0;
        width: 100%;
    }
    #copyright p:last-child {
        text-align: center;
    }
    #detallelc, #detallerc {
        width: 91%;
    }
    #imgvalor {
        background-size: 200%;
        height: 66px;
        margin-top: 0;
    }
    #leftc, #rigthc {
        margin: 2%;
        width: 96%;
    }
    #logo a {
        color: #afca0b;
        height: 40px;
    }
    #logo a h1 {
        margin-top: 0;
    }
    #menuaux, #social {
        width: 100%;
    }
    #principal {
        margin-top: -10px;
        min-height: 420px;
    }
    #ribbon{
        background-size: 100%;
        height: 65px;
        width: 50px;
    }
    #rigthc {
        overflow: hidden;
        height: 250px;
    }
    #rigthc img {
        margin: -40px 0 0 -50px;
        width: 350px;
    }
    #social {
        text-align: center;
    }
    #social ul {
        padding: 0;
    }
    .callsto:first-child {
        min-height: 50px;
    }
    .callstohome {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        height: 80px;
        margin-bottom: 20px;
        width: 100%;
    }
    .callstohome p, .callstohome span {
        text-align: center;
        width: 100%;
    }
    .callstohome span {
        font-size: 1.4em;
    }
    .callstohome .stepscontend {
        display: none;
    }
    .detalle span {
        width: 43%;
    }
    .fieldwrapper {
        text-align: left !important;
    }
    .inmueble {
        margin: 2% !important;
        height: 200px;
        width: 96%;
    }
    .inmueble .imgportada {
        text-align: center;
        width: 100%;
    }
    .navbar {
        margin-top: 45px !important;
    }
    .slider {
        max-width: 240px;
    }
    /** Contacto **/


}