{% extends 'base.html' %}
{% load url from future %}
{% block imgvalor %}<div id="imgvalor" class="img_index"></div>{% endblock %}
{% block body %}
    <section id="principal">
        <div id="error404">
            <h2>Lo sentimos</h2>
            <h3>La página que estas buscando no se encuentra disponible.</h3>
            <a href="{% url 'home' %}"><h3>Ir a la página principal</h3></a>
        </div>
    </section>
{% endblock %}