{% load static %}{% get_static_prefix as STATIC_PREFIX %}
{% load url from future %}
<!doctype html>
<html lang="es-mx">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#
                  website: http://ogp.me/ns/website#">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />#}
    <meta property="og:type" content="website">
    {% block ogurl %}<meta property="og:url"
                           content="http://torgale.com.co{% url 'home' %}">
    {%  endblock %}
    <meta property="og:image" content="http://torgale.com.co/media/logo.png">
    {% block ogtitle %}
        <meta property="og:title" content="Inmobiliaria Torgale">
    {% endblock %}
    <meta property="og:description"
          content="Inmobiliaria Torgale,
    venta y arrendamiento de inmuebles en bogotá">
    <meta name="author" content="Inmobiliaria Torgale">
    <meta name="description" content="Inmobiliaria Torgale,
    venta y arrendamiento de inmuebles en bogotá">

    <link href="{{ STATIC_PREFIX }}images/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/normalize.css"
          media="all">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/layout.css">
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/jquery.fancybox.css" media="screen">
    {% block extraStyles %}{% endblock %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% block extraJStop %}{% endblock %}
</head>
<body>
    <div id="superior">
        <header>
            <div id="ribbon"></div>
            <div id="logo">
                <a href="{% url 'home' %}"><h1>Inmobiliaria
                    Torgale</h1></a>
            </div>
            {% comment %}<nav>
                <ul>
                    <li><a href="{% url web.views.index %}">Inicio</a></li>
                    <li><a href="{% url web.views.empresa %}">Empresa</a></li>
                    <li><a href="/servicios/">Servicios</a></li>
                    <li><a href="{% url web.views.inmuebles %}">Oferta Inmobiliaria</a></li>
                    <li><a href="{% url web.views.contacto %}">Contacto</a></li>
                </ul>
            </nav>{% endcomment %}
            <div class="navbar">
                <div>
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <nav class="nav-collapse collapse">
                            <ul>
                                <li><a href="{% url 'home' %}">Inicio</a></li>
                                <li><a href="{% url 'nosotros' %}">Empresa</a></li>
                                <li><a href="{% url 'servicios' %}">Servicios</a></li>
                                <li><a href="{% url 'inmuebles' %}">Oferta Inmobiliaria</a></li>
                                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </header>
    </div>
    <div class="clearfix"></div>
    {% block imgvalor %}<div id="imgvalor" class="{{ imgvalor }}"></div>{% endblock %}
    {% block body %}{% endblock %}
    <div id="inferior">
        <footer>
            <div id="menuaux">
                <ul>
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'nosotros' %}">Empresa</a></li>
                    <li><a href="{% url 'servicios' %}">Servicios</a></li>
                    <li><a href="{% url 'inmuebles' %}">Oferta
                        Inmobiliaria</a></li>
                    <li><a href="{% url 'contacto' %}">Contacto</a></li>
                </ul>
            </div>
            <div id="social">
                <p>Siguenos en las redes sociales</p>
                <ul>
                    <li><a href="#" class="facebook"></a></li>
                    <li><a href="#" class="plus"></a></li>
                    <li><a href="#" class="skype"></a></li>
                    <li><a href="#" class="twitter"></a></li>
                </ul>
            </div>
            <div id="copyright">
                <p>Inmobiliaria Torgale - 2012</p>
                <p>Diseñado por mantistecnologia.co</p>
            </div>

        </footer>
    </div>

    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.fancybox.pack.js?v=2.1.4"></script>
    {% block extraJS %}{% endblock %}
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38523716-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>
</html>