{% extends 'base.html' %}
{% load url from future %}
{% block title %}Inmobiliaria Torgale - Contacto{% endblock %}
{% block ogurl %}
    <meta property="og:url" content="http://torgale.com.co{% url 'contacto' %}">
{% endblock %}
{% block ogtitle %}
    <meta property="og:title" content="Inmobiliaria Torgale - Contacto">
{% endblock %}
{% block body %}
    <section id="principal">
        <div id="contactform">
            <h2>Contactenos</h2>
            {% if messaget != None %}
                <p>{{ messaget }}</p>
            {% endif %}
            <form id="formcontact" action="{% url 'contacto' %}" method="post"
                    >{% csrf_token %}
                {#    {{ contacform.as_p }}#}
                {{ contacform.non_field_errors }}
                <div class="fieldwrapper">
                    {{ contacform.fullname.errors }}
                    <label for="id_fullname">Nombres Completos</label>
                    {{ contacform.fullname }}
                </div>
                <div class="fieldwrapper">
                    {{ contacform.phone.errors }}
                    <label for="id_phone">Teléfono</label>
                    {{ contacform.phone }}
                </div>
                <div class="fieldwrapper">
                    {{ contacform.subject.errors }}
                    <label for="id_subject">Asunto</label>
                    {{ contacform.subject }}
                </div>
                <div class="fieldwrapper">
                    {{ contacform.email.errors }}
                    <label for="id_email">Correo Electronico</label>
                    {{ contacform.email }}
                </div>
                <div class="fieldwrapper">
                    {{ contacform.message.errors }}
                    <label for="id_message">Mensaje</label>
                    {{ contacform.message }}
                </div>
                <input type="submit" value="Enviar!" />
                <div class="clear"></div>
            </form>
        </div>
        <div id="imgcontacto">
            <img src="/media/contactenos.jpg" alt="Contactenos">
        </div>
    </section>

{% endblock %}
{% block extraJS %}

{% endblock %}