{% extends 'base.html' %}
{% load url from future %}
{% load humanize %}
{% block title %}Inmobiliaria Torgale - {{ inmueble.codInmueble }}{% endblock %}
{% block ogurl %}
    <meta property="og:url"
          content="http://torgale.com.co{% url 'detalle' inmueble.codInmueble %}">
{% endblock %}
{% block ogtitle %}
    <meta property="og:title" content="Inmobiliaria Torgale - {{ inmueble.codInmueble }}">
{% endblock %}
{% block extraStyles %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/flexslider.css" media="all">
{#    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/jquery.lightbox-0.5.css">#}
{% endblock %}
{% block body %}
    <section id="principal">
    {#Columna izquierda#}
        <div id="detallelc">
            <section class="slider">
                <div id="slider" class="flexslider">
                    <ul class="slides">
                        {% for img in inmueble.images.all %}
                            <li>
                                <img src="/media/{{ img.imagen }}">
                            </li>
                        {% empty %}
                            <li>
                                <img src="/media/sin_image.png">
                            </li>
                        {% endfor %}
{#                        {% if images.count > 0 %}#}
{#                            {% for slide in images %}#}
{#                                <li>#}
{#                                    <img src="/media/{{ slide.imagen }}">#}
{#                                </li>#}
{#                            {% endfor %}#}
{#                        {% else %}#}
{#                            <li>#}
{#                                <img src="/media/sin_image.png">#}
{#                            </li>#}
{#                        {% endif %}#}
                    </ul>
                </div>
                {% if inmueble.images.all.count > 1 %}
                    <div id="carousel" class="flexslider">
                        <ul class="slides">
                            {% for img in inmueble.images.all %}
                                <li>
                                    <img src="/media/{{ img.imagen }}">
                                </li>
                            {% endfor %}
{#                            {% for slide in images %}#}
{#                                <li>#}
{#                                    <img src="/media/{{ slide.imagen }}">#}
{#                                </li>#}
{#                            {% endfor %}#}
                        </ul>
                    </div>
                {% endif %}
            </section>
            <section id="ubicacion">
                <a href="http://maps.google.com/maps/api/staticmap?center={{ inmueble.lat }},{{ inmueble.lon }}&zoom=13&size=420x320&maptype=roadmap&markers=color:blue|{{ inmueble.lat }},{{ inmueble.lon }}&sensor=false">Ver Ubicación</a>

                <div id="mapa">
                    <h3>Ubicación</h3>
                    <img src="http://maps.google.com/maps/api/staticmap?center={{ inmueble.lat }},{{ inmueble.lon }}&zoom=15&size=240x180&maptype=roadmap&markers=color:blue|{{ inmueble.lat }},{{ inmueble.lon }}&sensor=false"
                         alt="Ubicación">
                </div>


            </section>
        </div>
    {#Columna Derecha#}
        <div id="detallerc">
            <section id="info">
                <div id="volver"><a href="javascript:window.history.back()">Volver al listado</a></div>
                <h2>Descripción del Inmueble</h2>
                <p class="detalle"><span>Código: </span> {{ inmueble.codInmueble }}</p>
                <p class="detalle"><span>Tipo de Inmueble: </span> {{ inmueble.claseInmueble }}</p>
                <p class="detalle"><span>Zona: </span> {{ inmueble.zona }}</p>
                <p class="detalle"><span>Barrio: </span> {{ inmueble.barrio }}</p>
                <p class="detalle"><span>Dirección: </span> {{ inmueble.direccion }}</p>
                <p class="detalle"><span>Estrato: </span> {{ inmueble.estrato }}</p>
                <p class="detalle"><span>No. habitaciones: </span> {{ inmueble.habitaciones }}</p>
                <p class="detalle"><span>No. closets: </span> {{ inmueble.closets }}</p>
                <p class="detalle"><span>No. baños: </span> {{ inmueble.banos }}</p>
                <p class="detalle"><span>Cocina integral: </span> {{ inmueble.cocina }}</p>
                <p class="detalle"><span>Gas natural: </span> {{ inmueble.serviciogas }} </p>
                <p class="detalle"><span>Piso alcobas: </span> {{ inmueble.pisoalcobas }} </p>
                <p class="detalle"><span>Piso comedor: </span> {{ inmueble.pisocomedor }} </p>
                <p class="detalle"><span>Piso sala: </span> {{ inmueble.pisosala }} </p>
                {% if inmueble.cantPisos != '' %}
                    <p class="detalle"><span>No de pisos: </span> {{ inmueble.cantPisos }}</p>
                {% endif %}
                {% if inmueble.numeroPiso != '' %}
                    <p class="detalle"><span>Piso No.: </span> {{ inmueble.numeroPiso }}</p>
                {% endif %}
                <p class="detalle"><span>Garaje: </span> {{ inmueble.garaje }}</p>
                <p class="detalle"><span>Ascensor: </span> {{ inmueble.ascensor }} </p>
                <p class="detalle"><span>Área construida: </span> {{ inmueble.areac }} m<sup>2</sup></p>
                <p class="detalle"><span>Área total: </span> {{ inmueble.areat }} m<sup>2</sup></p>
                <p class="detalle"><span>Tiempo de construcción: </span> {{ inmueble.contruccion }}</p>
                <p class="detalle"><span>Propiedad horizontal: </span> {{ inmueble.horizontal }} </p>
                <p class="detalle"><span>Conjunto cerrado: </span> {{ inmueble.conjunto }} </p>
                {% if inmueble.venta != Null %}
                    <p class="detalle"><span>Precio venta: </span> {{ inmueble.venta|intcomma }} </p>
                {% endif %}
                {% if inmueble.arriendo != Null %}
                    <p class="detalle"><span>Canon arriendo: </span> {{ inmueble.arriendo|intcomma }}</p>
                {% endif %}
                {% if inmueble.administracion != Null %}
                    <p class="detalle"><span>Valor administración: </span> {{ inmueble.administracion|intcomma }} </p>
                {% endif %}
                {% if inmueble.adminIncluida != 'n/a' %}
                    <p class="detalle"><span>Administración incluida: </span> {{ inmueble.adminIncluida }} </p>
                {% endif %}
                {% autoescape off %}
                    <p class="detalle"><span>Observaciones: </span> {{ inmueble.observaciones }}</p>
                {% endautoescape %}
            </section>
        </div>


        <div class="clearfix"></div>
    </section>
{% endblock %}
{% block extraJS %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.flexslider-min.js"></script>
{#    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.lightbox-0.5.min.js"></script>#}
    <script type="text/javascript">
        $(document).on("ready",function(){
            $('#carousel').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                itemWidth: 100,
                itemMargin: 5,
                asNavFor: '#slider'
            });
            $('#slider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                sync: '#carousel',
                start:function(slider){
                    $('body').removeClass('loading');
                }
            });
{#            $('section#ubicacion a').lightBox({#}
{#                imageLoading:'{{ STATIC_PREFIX }}images/lightbox-ico-loading.gif',#}
{#                imageBtnClose:'{{ STATIC_PREFIX }}images/lightbox-btn-close.gif'#}
{#            });#}
        });
    </script>
{% endblock %}