{% extends "base.html" %}
{% load url from future %}
{% block title %}Inmobiliaria Torgale - Nosotros{% endblock %}
{% block ogurl %}
    <meta property="og:url"
          content="http://torgale.com.co{% url 'nosotros' %}">
{% endblock %}
{% block ogtitle %}
    <meta property="og:title" content="Inmobiliaria Torgale - Nosotros">
{% endblock %}
{% block body %}
    <section id="principal">
        <article id="nosotros">
            <div id="leftc">
                <h3>Sobre nosotros:</h3>
                <p>Somos una empresa con más de 30 años de trayectoria,
                    con un personal competente y amplio para los diferentes
                    desafíos que se nos presenten, trabajando con dedicación
                    persistencia, profesionalismo, disciplina y honestidad.
                    Nuestra razón de ser son nuestros usuarios,
                    quienes durante toda éste  recorrido han depositado su
                    confianza en nosotros, hecho que nos compromete en
                    trabajar aún más y mejor, día y día,
                    para seguir posicionándonos  en el mercado inmobiliario y
                    brindarles a ustedes;  nuestros clientes,
                    más que un servicio, la tranquilidad que no solo
                    necesitan, sino se merecen en la administración y cuidado
                    no solo en  sus inmuebles sino  en todo un patrimonio.</p>
                <img src="/media/img_nosotros.jpg" alt="Sobre Nosotros"
                         title="Sobre Nosotros">
            </div>
            <div id="rigthc">
                <img src="/media/mapa_oficina.jpg" alt="Nuestra oficina: Cr 8
                 No 15-80" title="Nuestra oficina">
            </div>
        </article>
        <div id="actions">
            <a href="{% url 'inmuebles' %}">
                <div id="callsto1" class="callsto">
                    <p>Conozca nuestra oferta inmobiliaria</p>
                    <p class="cuadro">Ver Inmuebles</p>
                </div>
            </a>
            <a id="requirements" href="#rcontent">
                <div id="callsto2" class="callsto">
                    <p>Conozca los requisitos</p>
                    <p class="cuadro">Ver Requisitos</p>
                </div>
            </a>
            <a href="/media/formulario.pdf" target="_blank">
                <div id="callsto3" class="callsto">
                    <p>Descargar formulario de solicitud</p>
                    <p class="cuadro">Descargar</p>
                </div>
            </a>
            <div class="clearfix"></div>
        </div>
        <div id="rcontent">
            <h2>Requerimientos</h2>
            <ol>
                <li>Formulario de arrendamiento completamente deligenciado</li>
                <li>
                    Documentos del Arrendatario
                    <ul>
                        <li>
                            Si es Empleado
                            <ul>
                                <li>Certificado laboral no mayor a 30 días, que
                                    incluya salario, cargo, tiempo de servicio.
                                </li>
                                <li>Tres últimos comprobantes de pago</li>
                                <li>Certificado de libertad no mayor a treinta (30) días (Opcional)</li>
                            </ul>
                        </li>
                        <li>
                            Si es Independiente
                            <ul>
                                <li>Fotocopia del documento de identidad</li>
                                <li>Cámara de comercio vigente</li>
                                <li>Declaración de renta del último año o carda de no declarante</li>
                                <li>Extractos bancarios de los últimos tres (3) meses</li>
                                <li>Certificado de libertad no mayor a treinta (30) días (Opcional)</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Dos codeudores uno con finca raíz y el otro que sea solvente y demuestre ingresos.
                    <ul>
                        <li>
                            Codeudor con finca raíz
                            <ul>
                                <li>Adjuntar certificado de libertad de Bogotá D.C., no mayor a treinta(30) días que no tenga afectación a vivienda familiar, patrimonio de familia ni embargos.</li>
                            </ul>
                        </li>
                        <li>
                            Codeudor solvente
                            <ul>
                                <li>
                                    Si es empleado
                                    <ul>
                                        <li>Certificado laboral no mayor a treinta (30) días. que incluya salario, cargo, tiempo de servicio.</li>
                                        <li>Tres últimos comprobantes de pago</li>
                                        <li>Certificado de libertad no mayor a treinta (30) días (Opcional)</li>
                                    </ul>
                                </li>
                                <li>
                                    Si es independiente
                                    <ul>
                                        <li>Fotocopia del documento de identidad</li>
                                        <li>Cámara de comercio vigente</li>
                                        <li>Declaración de renta del último año o carta de no declarante</li>
                                        <li>Extractos bancarios de los últimos tres (3) meses</li>
                                        <li>Certificado de libertad no mayor a treinta (30) días (Opcional)</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Fotocopias de las cédulas, tanto del arrendatario como de los dos codeudores</li>
            </ol>
            <p>* El valor del estudio es de $60.000, dinero que se reembolsará si no es aprobado el mismo.</p>
        </div>
    </section>
{% endblock %}
{% block extraJS %}
    <script type="text/javascript">
        $(document).on("ready", function(){
            $('#requirements').fancybox();
        })
    </script>
{% endblock %}