{% extends "base.html" %}
{% block title %}Inmobiliaria Torgale{% endblock %}
{% block extraStyles %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/flexslider.css" media="all">

{% endblock %}
{% block body %}
    <section id="principal">
        <div id="actionshome">
            <h2>Usar nuestros servicios es muy fácil</h2>
            <a href="{% url 'inmuebles' %}">
                <div id="callsto1home" class="callstohome">
                    <p>Conozca nuestra</p>
                    <span>Oferta inmobiliaria</span>
    {#                <a href="#">Ver Inmuebles</a>#}
                    <div class="stepscontend">
                        <div id="step1" class="step">
                            <div class="number">1</div>
                        </div>
    {#                    <span>Busca un inmueble</span>#}
                    </div>
                </div>
            </a>
            <a id="requirements" href="#rcontent">
                <div id="callsto2home" class="callstohome">
                    <p>Conozca los</p>
                    <span>Requisitos</span>
    {#                <a href="#">Ver Requisitos</a>#}
                    <div class="stepscontend">
                        <div id="step2" class="step">
                            <div class="number">2</div>
                        </div>
    {#                    <span>Conoce los requisitos</span>#}
                    </div>
                </div>
            </a>
            <a href="/media/formulario.pdf" target="_blank">
                <div id="callsto3home" class="callstohome">
                    <p>Descargar el</p>
                    <span>Formulario</span>
    {#                <a href="#">Descargar</a>#}
                    <div class="stepscontend">
                        <div id="step3" class="step">
                            <div class="number">3</div>
                        </div>
    {#                    <span>Diligencia el formulario</span>#}
                    </div>
                </div>
            </a>
            <div class="clearfix"></div>
        </div>
        <div class="sliderhome">
            <div id="sliderhome" class="flexslider">
                <ul class="slides">
                    {% if slider.count > 0 %}
                        {% for slide in slider %}
                            <li>
                                <img src="/media/{{ slide.imagen }}" alt="{{ slider.title }}">
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>
                            <img src="/media/sin_image.png">
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="contact_cliente">
            <a href="{% url 'contacto' %}">
                <h3>¿Quieres arrendar o vender tu inmueble?</h3>
            </a>
        </div>
        <div id="rcontent">
            <h2>Requerimientos</h2>
            <ol>
                <li>Formulario de arrendamiento completamente deligenciado</li>
                <li>
                    Documentos del Arrendatario
                    <ul>
                        <li>
                            Si es Empleado
                            <ul>
                                <li>Certificado laboral no mayor a 30 días, que
                                    incluya salario, cargo, tiempo de servicio.
                                </li>
                                <li>Tres últimos comprobantes de pago</li>
                                <li>Certificado de libertad no mayor a treinta (30) días (Opcional)</li>
                            </ul>
                        </li>
                        <li>
                            Si es Independiente
                            <ul>
                                <li>Fotocopia del documento de identidad</li>
                                <li>Cámara de comercio vigente</li>
                                <li>Declaración de renta del último año o carda de no declarante</li>
                                <li>Extractos bancarios de los últimos tres (3) meses</li>
                                <li>Certificado de libertad no mayor a treinta (30) días (Opcional)</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Dos codeudores uno con finca raíz y el otro que sea solvente y demuestre ingresos.
                    <ul>
                        <li>
                            Codeudor con finca raíz
                            <ul>
                                <li>Adjuntar certificado de libertad de Bogotá D.C., no mayor a treinta(30) días que no tenga afectación a vivienda familiar, patrimonio de familia ni embargos.</li>
                            </ul>
                        </li>
                        <li>
                            Codeudor solvente
                            <ul>
                                <li>
                                    Si es empleado
                                    <ul>
                                        <li>Certificado laboral no mayor a treinta (30) días. que incluya salario, cargo, tiempo de servicio.</li>
                                        <li>Tres últimos comprobantes de pago</li>
                                        <li>Certificado de libertad no mayor a treinta (30) días (Opcional)</li>
                                    </ul>
                                </li>
                                <li>
                                    Si es independiente
                                    <ul>
                                        <li>Fotocopia del documento de identidad</li>
                                        <li>Cámara de comercio vigente</li>
                                        <li>Declaración de renta del último año o carta de no declarante</li>
                                        <li>Extractos bancarios de los últimos tres (3) meses</li>
                                        <li>Certificado de libertad no mayor a treinta (30) días (Opcional)</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Fotocopias de las cédulas, tanto del arrendatario como de los dos codeudores</li>
            </ol>
            <p>* El valor del estudio es de $60.000, dinero que se reembolsará si no es aprobado el mismo.</p>
        </div>
        {% comment %}<div id="steps">
            <div class="stepscontend">
                <div id="step1" class="step">
                    <div class="number">1</div>
                </div>
                <span>Busca un inmueble</span>
            </div>
            <div class="stepscontend">
                <div id="step2" class="step">
                    <div class="number">2</div>
                </div>
                <span>Conoce los requisitos</span>
            </div>
            <div class="stepscontend">
                <div id="step3" class="step">
                    <div class="number">3</div>
                </div>
                <span>Diligencia el formulario</span>
            </div>
            <div class="stepscontend">
                <div id="step4" class="step">
                    <div class="number">4</div>
                </div>
                <span>Completa y entrega<br />los documentos</span>
            </div>
            <div class="stepscontend">
                <div id="step5" class="step">
                    <div class="number">5</div>
                </div>
                <span>Estudio y aprobación</span>
            </div>
        </div>{% endcomment %}
    </section>

{% endblock %}
{% block extraJS %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.flexslider-min.js"></script>

    <script type="text/javascript">
        $(document).on("ready",function(){
            $('#sliderhome').flexslider({
                                            animation: "slide",
                                            controlNav: true,
                                            animationLoop: true,
                                            slideshow: true,
                                            start:function(slider){
                                                $('body').removeClass('loading');
                                            }
            });
            $('#requirements').fancybox({
                                            maxWidth	: 800,
                                            maxHeight	: 600,
                                            fitToView	: false,
                                            width		: '70%',
                                            height		: '70%',
                                            autoSize	: false,
                                            closeClick	: false,
                                            openEffect	: 'none',
                                            closeEffect	: 'none'
                                        });
        })
    </script>
{% endblock %}