{% extends 'base.html' %}
{% load url from future %}
{% block title %}Inmobiliaria Torgale - Oferta Inmobiliaria{% endblock %}
{% block ogurl %}
    <meta property="og:url"
          content="http://torgale.com.co{% url 'inmuebles' %}">
{% endblock %}
{% block ogtitle %}
    <meta property="og:title"
          content="Inmobiliaria Torgale - Oferta
    Inmobiliaria">
{% endblock %}
{% block body %}
    <section id="principal">
        <div id="filters">
            {{ filtros }}
        </div>
        <h2>Inmuebles</h2>
        <section id="inmuebles">
            {% for inmueble in inmuebles %}
                <article id="{{ inmueble.codInmueble }}" class="inmueble mright20">
                    <a href="{% url 'detalle' inmueble.codInmueble%}">
                        <div class="imgportada">
                            {% for img in inmueble.images.all %}
                                {% if img.portada == 'si' %}
                                    <img src="/media/{{ img.imagen }}" alt="{{ img.descripcion|striptags }}">
                                {% endif %}
                            {% empty %}
                                <img src="/media/sin_image.png" alt="Sin Imagen">
                            {% endfor %}
                        </div>
                        <div class="infoinmueble">
                            <p>{{ inmueble.claseInmueble }} en
                                {{ inmueble.negocio }}</p>
                            <p><span>Zona: </span>{{ inmueble.zona }}</p>
                            <p><span>Barrio: </span>{{ inmueble.barrio }}</p>
                            <p class="enlinea">{{ inmueble.areac }} m<sup>2</sup> |
                                {{ inmueble.habitaciones }} habitacion{{ inmueble.habitaciones|pluralize:'es' }} | </p>
                            <p class="enlinea">{{ inmueble.banos }} baño{{ inmueble.banos|pluralize }}</p>
                        </div>
                        <div class="overlay">
                            <span class="msg">Ver Detalle del inmueble</span>
                        </div>
                    </a>
                </article>

            {% endfor %}
            <div class="clearfix"></div>
        </section>
    </section>
{% endblock %}

{% block extraJS %}
{#    <script type="text/javascript">#}
{#        $('select').on('change',function(){#}
{#            $('#consulta').submit()#}
{#        })#}
{#    </script>#}
{% endblock %}
