{% extends "base.html" %}
{% load url from future %}
{% block title %}Inmobiliaria Torgale - Servicios{% endblock %}
{% block ogurl %}
    <meta property="og:url"
          content="http://torgale.com.co{% url 'servicios' %}">
{% endblock %}
{% block ogtitle %}
    <meta property="og:title" content="Inmobiliaria Torgale - Servicios">
{% endblock %}
{% block body %}
    <section id="principal">
        <ul class="nav nav-tabs" id="serviceTabs">
            <li class="active"><a href="#arriendo">Arriendo</a></li>
            <li><a href="#ventas">Venta</a></li>
            <li><a href="#asesoria">Asesoria Inmobiliaria</a></li>
            <li><a href="#avaluo">Avaluos</a></li>
        </ul>
        <div class="tab-content">
            <article id="arriendo" class="servicios tab-pane active">
                <h3>Arrendamiento</h3>
                <div class="contenido">
                    <p>Tenemos  el personal idóneo y calificado, que pone su conocimiento,
                        dedicación y empeño en dar en arrendamiento su inmueble.</P>
                    <p>Nos desplazamos a su inmueble para darle el mejor precio y acorde al sector.</p>
                    <p>Respaldamos a nuestros clientes en las diferentes reparaciones locativas que
                        necesiten  en el plano económico y contando con conocedores del tema.</p>
                    <p>Ofrecemos el seguro de arrendamiento que le garantiza al propietario que
                        durante todo el tiempo en que el inmueble permanezca ocupado se le responderá
                        no solo por arrendamiento sino también por servicios públicos.  Si el inmueble
                        pertenece a propiedad horizontal, responderemos por las cuotas de administración
                        siempre y cuando en  el valor del canon de  arrendamiento esté incluido éste concepto.
                        Iniciamos los procesos de restitución de inmueble arrendado y o ejecutivo si es del caso.</p>
                    <p>La promoción de su  inmueble no tiene ningún costo.</p>
                </div>
                <img src="/media/arrendamiento.jpg" alt="Arriendamiento">
            </article>
            <article id="ventas" class="servicios tab-pane">
                <h3>Venta</h3>
                <div class="contenido">
                    <p>Proporcionamos  a nuestros clientes  el respaldo y orientación necesarios desde el
                        inicio del proceso de la venta hasta su terminación.  Somos especialistas en promocionar
                        inmuebles, por intermedio de un equipo logístico comprometido en dar resultados.
                        Damos a nuestros clientes  el respaldo y orientación necesarios desde el inicio del proceso
                        de la venta, (contrato de promesa de compraventa, estudio de papelería, etc.), hasta
                        su terminación.  Contamos con diferentes canales para promocionar los inmuebles, desde
                        los diferentes medios masivos de comunicación, además de contar con el apoyo de otras
                        empresas que hacen parte de nuestro gremio.</p>
                </div>
                <img src="/media/venta.jpg" alt="Venta">
            </article>
            <article id="asesoria" class="servicios tab-pane">
                <h3>Asesoria Inmobiliaria</h3>
                <div class="contenido">
                    <p>Gozamos de un área jurídica especializada en derecho inmobiliario, cuyo amplio
                        conocimiento está disponible para los diversos casos que se presenten en los innumerables
                        temas de finca raíz, propiedad horizontal, dando resultados concretos y satisfactorios a
                        nuestros clientes.</p>
                </div>
                <img src="/media/asesoria_inmobiliaria.JPG" alt="Asesoria Inmobiliaria">
            </article>
            <article id="avaluo" class="servicios tab-pane">
                <h3>Avaluos</h3>
                <div class="contenido">
                    <p>Contamos con el servicio de avalúos que orienta a nuestros clientes por intermedio de
                        nuestros avaluadores profesionales a darles a sus inmuebles un precio, real  justo, luego
                        de un estudio detallado y concienzudo de  la zona y especificaciones de los inmuebles a
                        avaluar  y de acuerdo a las condiciones actuales del mercado.</p>
                </div>
                <img src="/media/avaluo.JPG" alt="Avaluos">
            </article>
        </div>

        <div class="clearfix"></div>
        <div id="actions">
            <a href="{% url 'inmuebles' %}">
                <div id="callsto1" class="callsto">
                    <p>Conozca nuestra oferta inmobiliaria</p>
                    <p class="cuadro">Ver Inmuebles</p>
                </div>
            </a>
            <a id="requirements" href="#rcontent">
                <div id="callsto2" class="callsto">
                    <p>Conozca los requisitos</p>
                    <p class="cuadro">Ver Requisitos</p>
                </div>
            </a>
            <a href="/media/formulario.pdf" target="_blank">
                <div id="callsto3" class="callsto">
                    <p>Descargar formulario de solicitud</p>
                    <p class="cuadro">Descargar</p>
                </div>
            </a>
            <div class="clearfix"></div>
        </div>
        <div id="rcontent">
            <h2>Requerimientos</h2>
            <ol>
                <li>Formulario de arrendamiento completamente deligenciado</li>
                <li>
                    Documentos del Arrendatario
                    <ul>
                        <li>
                            Si es Empleado
                            <ul>
                                <li>Certificado laboral no mayor a 30 días, que
                                    incluya salario, cargo, tiempo de servicio.
                                </li>
                                <li>Tres últimos comprobantes de pago</li>
                                <li>Certificado de libertad no mayor a treinta (30) días (Opcional)</li>
                            </ul>
                        </li>
                        <li>
                            Si es Independiente
                            <ul>
                                <li>Fotocopia del documento de identidad</li>
                                <li>Cámara de comercio vigente</li>
                                <li>Declaración de renta del último año o carda de no declarante</li>
                                <li>Extractos bancarios de los últimos tres (3) meses</li>
                                <li>Certificado de libertad no mayor a treinta (30) días (Opcional)</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Dos codeudores uno con finca raíz y el otro que sea solvente y demuestre ingresos.
                    <ul>
                        <li>
                            Codeudor con finca raíz
                            <ul>
                                <li>Adjuntar certificado de libertad de Bogotá D.C., no mayor a treinta(30) días que no tenga afectación a vivienda familiar, patrimonio de familia ni embargos.</li>
                            </ul>
                        </li>
                        <li>
                            Codeudor solvente
                            <ul>
                                <li>
                                    Si es empleado
                                    <ul>
                                        <li>Certificado laboral no mayor a treinta (30) días. que incluya salario, cargo, tiempo de servicio.</li>
                                        <li>Tres últimos comprobantes de pago</li>
                                        <li>Certificado de libertad no mayor a treinta (30) días (Opcional)</li>
                                    </ul>
                                </li>
                                <li>
                                    Si es independiente
                                    <ul>
                                        <li>Fotocopia del documento de identidad</li>
                                        <li>Cámara de comercio vigente</li>
                                        <li>Declaración de renta del último año o carta de no declarante</li>
                                        <li>Extractos bancarios de los últimos tres (3) meses</li>
                                        <li>Certificado de libertad no mayor a treinta (30) días (Opcional)</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Fotocopias de las cédulas, tanto del arrendatario como de los dos codeudores</li>
            </ol>
            <p>* El valor del estudio es de $60.000, dinero que se reembolsará si no es aprobado el mismo.</p>
        </div>
    </section>
{% endblock %}
{% block extraJS %}
    <script type="text/javascript">
        $(function(){
            $('#serviceTabs').find('a[href="#arriendo"]').tab('show');
        });
        $('#serviceTabs').find('a').on("click",mostrar);
        function mostrar(e){
            e.preventDefault();
            $(this).tab('show');
        }
        $(document).on("ready", function(){
            $('#requirements').fancybox();
        })
    </script>
{% endblock %}